* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    background-image: url(images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2rem 4rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.3);
}

.inner-container>* {
    margin-bottom: 0.95rem;
    color: white;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

button {
    font-family: sans-serif;
    padding: .5rem .75rem;
    border: transparent;
    border-radius: 5px;
    color: white;
    background-color: rgb(6, 36, 66);
}

.form{
    width: 100%;
}

#value1{
    width: 100%;
}
input {
    padding: .5rem .1rem;
}

.replace-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}


@media only screen and (max-width: 400px){
    .container{
        width: 100%;
    }
    .inner-container{
        width: 100%;
        max-width: 250px;
    }
    .hover{
        width: auto;
    }
}
